* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #fafafa;
}

/* Common  */
a {
  text-decoration: none;
}

.main {
  display: flex;
  width: 1440px;
  max-width: calc(100% - 48px);
}

.heading {
  color: #141522;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.72px;
}

/* Sidebar */
.sidebar {
  background: #fff;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 252px;
  height: 100vh;
  padding: 32px;
  border-right: 1px solid #f5f5f7;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo__title {
  color: #141522;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5; /* 48px */
  letter-spacing: -0.96px;
}

.menu-items {
  margin-top: 60px;
}

.menu-items li {
  display: flex;
  align-items: center; /* Căn giữa icon và text theo chiều ngang */
  gap: 12px; /* Khoảng cách giữa icon và link */
  padding: 10px 20px; /* Khoảng cách nội dung */
  width: 100%; /* Chiếm toàn bộ chiều ngang */
  transition: 0.4s;
}

.menu-items li:nth-child(n + 2) {
  margin-top: 24px;
}

.menu-items li:hover {
  cursor: pointer;
  border-radius: 10px;
  background: #f5f5f7;
}

.menu__link {
  display: inline-block;
  color: #8e92bc;
  /* Semibold/Type@14 */
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5; /* 21px */
  letter-spacing: -0.28px;
}

.menu__link--active {
  color: #141522;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5; /* 21px */
  letter-spacing: -0.28px;
}

/* Overview */
.overview {
  width: 752px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-message {
  margin: 32px 0 0 32px;
  width: 236px;
}

.header__reminder {
  margin-top: 8px;
  color: #54577a;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.action {
  position: relative;
  display: flex;
  margin-top: 48px;
  gap: 38px;
}

.action-notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #f5f5f7;
}

.action__avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.notification__dot--red {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}
